* {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 2vh;
}

body {
    background-image: url('./media/default.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    background-color: rgba(67, 26, 250, 0.589);
    padding: 2vh;
    box-shadow: -5px 5px 8px grey;
}

.main_info {
    font-size: large;
}

#location {
    font-size: 1.5rem;
    padding-top: 2rem;
}

#time {
    font-size: 5vh;
}

#temperature {
    font-size: 2rem;
    font-weight: 900;
}

.descriptionIcon {
    margin: 1.5vh 0vh 1.5vh 0vh;
}

.data_icons {
    color: white;
    font-size: 4vh;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    padding-top: 1.8rem;
}

.parameters {
    /* box-shadow: 2px 2px 15px rgb(173, 173, 173); */
    background-color: rgba(214, 248, 237, 0.315);
    height: 18vh;
    width: 18vh;
    border-radius: 15%;
    margin: 3vh;
}

/* ----- MEDIA QUERIES ----- */

@media (min-width: 1200px) {
    .container {
        height: 70vh;
        width: 100vh;
        padding: 3vh;
    }

    .parameters{
        margin-left: 6vh;
    }
}

@media (max-width: 767px) {
    body {
        margin: 8vh;
    }
    #country{
        visibility: hidden;
    }
}